.authentication { grid-area: authentication; }
.request { grid-area: request; }
.response { grid-area: response; }

.grid-container {
    display: grid;
    grid-template-areas:
            'authentication authentication'
            'request response';
    grid-gap: 10px;
    padding: 10px;
}

.grid-container > div {
    text-align: center;
}